body {
  background-color: #121212;
  color: #e4e8f3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  overflow: hidden;
}

h1 {
  color: #d87093;
  display: flex;
  align-items: center;
  justify-content: center; 
}

a:hover {
  color: #d87093;
}

a, a:visited {
  text-decoration: none;
}

#contact {
  margin-bottom: 20px;
}

#about,
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

#info {
  border: solid red;
  background-color: #990014;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
}

li {
  list-style: none;
}
