@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
  overflow: hidden;
}

body {
  background-color: #080a13;
  color: #e4e8f3;
  font-family: nunito;
  font-size: larger;
}

hr {
  color: #a85cb9;
}

h1 {
  color: #9dabd5;
}

#about,
#contact {
  position: relative;
}

a {
  color: #573070;
}

footer {
  display: inline-block;
  background-color: #0f1324;
  color: #573070;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6%;
}

@media (min-width: 768px) {
  hr,
  h1,
  #about,
  #contact {
    position: relative;
    left: 700px;
  }
  hr {
    margin-right: 1500px;
  }
}

#profile-pic::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("./images/avatar.png") no-repeat center;
  background-size: cover;
  margin-right: 10px;
}

#github-link::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("./images/github.svg") no-repeat center;
  background-size: cover;
}
